<app-main-content>
  <app-step [data]="stepData"></app-step>
  <div class="container">
    <form [formGroup]="formGroup">
      <div class="box">
        <div class="p-4">
          <div class="row">
            <div class="col-6 m-auto">
              <div class="row">
                <div class="col pl-20px">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input scale-2x" type="checkbox" id="activePassive" name="activePassive"
                             formControlName="activePassive">
                      <label class="form-check-label ms-2" for="activePassive">
                        Aktif / Pasif
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input scale-2x" type="checkbox" id="combined" name="combined"
                             formControlName="combined" (change)="combinedChanged()">
                      <label class="form-check-label ms-2" for="combined">
                        Birleştirilebilir
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="campaignName">Kampanya Adı</label>
                <input type="text" class="form-control" name="campaignName" id="campaignName"
                       formControlName="campaignName"
                       [ngClass]="{ 'is-invalid': submitted && f.campaignName.invalid }">
                <div *ngIf="submitted && f.campaignName.errors" class="invalid-feedback">
                  <div *ngIf="f.campaignName.errors.required">Kampanya Adı girilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="campaignCode">Kampanya Kodu</label>
                <input type="text" class="form-control" name="campaignCode" id="campaignCode" readonly
                       formControlName="campaignCode">
              </div>
              <div class="form-group mt-3">
                <label for="descriptionLanguage">Açıklama Dil Seçeneği</label>
                <select name="descriptionLanguage" id="descriptionLanguage" class="form-select"
                        formControlName="descriptionLanguage">
                  <option value="">Seçiniz</option>
                  <option value="TR">TR</option>
                  <option value="EN">EN</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <label for="description">Açıklama Detayı</label>
                <input type="text" class="form-control" name="description" id="description"
                       formControlName="description"
                       [ngClass]="{ 'is-invalid': submitted && f.description.invalid }">
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Açıklama Detayı girilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="titleLanguage">Başlık Dil Seçeneği</label>
                <select name="titleLanguage" id="titleLanguage" class="form-select" formControlName="titleLanguage">
                  <option value="">Seçiniz</option>
                  <option value="TR">TR</option>
                  <option value="EN">EN</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <label for="title">Başlık</label>
                <input type="text" class="form-control" name="title" id="title" formControlName="title"
                       [ngClass]="{ 'is-invalid': submitted && f.title.invalid }">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Başlık girilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="campaignDetailLanguage">Kampanya Detayı Dil Seçeneği</label>
                <select name="campaignDetailLanguage" id="campaignDetailLanguage" class="form-select"
                        formControlName="campaignDetailLanguage">
                  <option value="">Seçiniz</option>
                  <option value="TR">TR</option>
                  <option value="EN">EN</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <label for="campaignDetail">Kampanya Detayı</label>
                <input type="text" class="form-control" name="campaignDetail" id="campaignDetail"
                       formControlName="campaignDetail"
                       [ngClass]="{ 'is-invalid': submitted && f.campaignDetail.invalid }">
                <div *ngIf="submitted && f.campaignDetail.errors" class="invalid-feedback">
                  <div *ngIf="f.campaignDetail.errors.required">Kampanya Detayı girilmelidir.</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mt-3">
                    <label for="startDate">Başlama Tarihi</label>
                    <input type="text" class="form-control" name="startDate" id="startDate"
                           formControlName="startDate"
                           [ngClass]="{ 'is-invalid': submitted && f.startDate.invalid }">
                    <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                      <div *ngIf="f.startDate.errors.required">Başlama Tarihi seçilmelidir.</div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mt-3">
                    <label for="endDate">Bitiş Tarihi</label>
                    <input type="text" class="form-control" name="endDate" id="endDate"
                           formControlName="endDate"
                           [ngClass]="{ 'is-invalid': submitted && f.endDate.invalid }">
                    <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                      <div *ngIf="f.endDate.errors.required">Bitiş Tarihi seçilmelidir.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="campaignListImage" class="form-label">Kampanya Liste Görseli</label>
                <input class="form-control" type="file" name="campaignListImage" id="campaignListImage"
                       formControlName="campaignListImage"
                       [ngClass]="{ 'is-invalid': submitted && f.campaignListImage.invalid }">
                <div *ngIf="submitted && f.campaignListImage.errors" class="invalid-feedback">
                  <div *ngIf="f.campaignListImage.errors.required">Dosya seçilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="campaignDetailImage" class="form-label">Kampanya Detay Görseli</label>
                <input class="form-control" type="file" name="campaignDetailImage" id="campaignDetailImage"
                       formControlName="campaignDetailImage"
                       [ngClass]="{ 'is-invalid': submitted && f.campaignDetailImage.invalid }">
                <div *ngIf="submitted && f.campaignDetailImage.errors" class="invalid-feedback">
                  <div *ngIf="f.campaignDetailImage.errors.required">Dosya seçilmelidir.</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mt-3">
                    <label for="order">Sıralama</label>
                    <input type="text" class="form-control" name="order" id="order"
                           [readonly]="formGroup.get('combined')?.value"
                           formControlName="order"
                           [ngClass]="{ 'is-invalid': submitted && f.order.invalid }">
                    <div *ngIf="submitted && f.order.errors" class="invalid-feedback">
                      <div *ngIf="f.order.errors.required">Sıralama girilmelidir.</div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mt-3">
                    <label for="maxUser">Max Kullanıcı</label>
                    <input type="text" class="form-control" name="maxUser" id="maxUser" formControlName="maxUser">
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="sector">Sektör</label>
                <select name="sector" id="sector" class="form-select"
                        formControlName="sector"
                        [ngClass]="{ 'is-invalid': submitted && f.sector.invalid }">
                  <option value="">Seçiniz</option>
                  <option [value]="1">Akaryakıt</option>
                  <option [value]="2">Giyim</option>
                  <option [value]="3">Eğitim</option>
                </select>
                <div *ngIf="submitted && f.sector.errors" class="invalid-feedback">
                  <div *ngIf="f.sector.errors.required">Sektör seçilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="view">Görüntüleme</label>
                <select name="view" id="view" class="form-select"
                        formControlName="view"
                        [ngClass]="{ 'is-invalid': submitted && f.view.invalid }">
                  <option value="">Seçiniz</option>
                  <option [value]="1">Sürekli Kampanyalar</option>
                  <option [value]="2">Dönemsel Kampanyalar</option>
                  <option [value]="3">Görüntülenmeyecek</option>
                </select>
                <div *ngIf="submitted && f.view.errors" class="invalid-feedback">
                  <div *ngIf="f.view.errors.required">Görüntüleme seçilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="action">Aksiyon</label>
                <select name="action" id="action" class="form-select"
                        formControlName="action"
                        [ngClass]="{ 'is-invalid': submitted && f.action.invalid }">
                  <option value="">Seçiniz</option>
                  <option [value]="1">Ödeme Cashback</option>
                  <option [value]="2">Fatura Cashback</option>
                </select>
                <div *ngIf="submitted && f.action.errors" class="invalid-feedback">
                  <div *ngIf="f.action.errors.required">Aksiyon seçilmelidir.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-orange px-5" type="button" (click)="continue()">Devam</button>
      </div>
    </form>
  </div>
</app-main-content>
