<app-main-content>
  <app-step [data]="stepData" [id]="id"></app-step>
  <div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="continue()">
      <div class="box">
        <app-repost *ngIf="id" [id]="id">
        </app-repost>
        <div class="p-4">
          <div class="row">
            <div class="col-6 m-auto">
              <div class="form-group mt-3">
                <label for="involvedType">Dahil Olma Şekli</label>
                <select name="involvedType" id="involvedType" class="form-select" (change)="involvedTypeChange()"
                        formControlName="involvedType"
                        [ngClass]="{ 'is-invalid': submitted && f.involvedType.invalid }">
                  <option value="">Seçiniz</option>
                  <option [value]="1">Tüm Müşteriler</option>
                  <option [value]="2">Müşteri Özelinde</option>
                  <option [value]="3">İş Kolu Özelinde</option>
                  <option [value]="4">Şube Özelinde</option>
                  <option [value]="5">Müşteri Tipi Özelinde</option>
                </select>
                <div *ngIf="submitted && f.involvedType.errors" class="invalid-feedback">
                  <div *ngIf="f.involvedType.errors.required">Dahil Olma Şekli seçilmelidir.</div>
                </div>
              </div>
              <div class="row  mt-3">
                <div class="col">
                  <div class="form-group">
                    <label for="identityNo">TCKN</label>
                    <input type="text" class="form-control" name="identityNo" id="identityNo"
                           formControlName="identityNo"
                           onlyNumber maxlength="11" readonly
                           [ngClass]="{ 'is-invalid': submitted && f.identityNo.invalid }">
                    <div *ngIf="submitted && f.identityNo.errors" class="invalid-feedback">
                      <div *ngIf="f.identityNo.errors.required">TCKN girilmelidir.</div>
                      <div *ngIf="f.identityNo.errors.minlength">TCKN 11 haneli olmalıdır.</div>
                    </div>
                  </div>
                </div>
                <div class="col-auto d-flex align-items-end">
                  <input type="file" accept="image/*" #file hidden (change)="fileSelected($event)">
                  <button class="btn btn-secondary px-5" (click)="file.click()" [disabled]="disabled">Dosya Yükle</button>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="businessLine">İş Kolu</label>
                <select name="businessLine" id="businessLine" class="form-select"
                        formControlName="businessLine"
                        [ngClass]="{ 'is-invalid': submitted && f.businessLine.invalid }"
                >
                  <option value="">Seçiniz</option>
                  <option [value]="1">Bireysel</option>
                  <option [value]="2">Ticari</option>
                </select>
                <div *ngIf="submitted && f.businessLine.errors" class="invalid-feedback">
                  <div *ngIf="f.businessLine.errors.required">İş Kolu seçilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="branch">Şube</label>
                <select name="branch" id="branch" class="form-select" formControlName="branch"
                        [ngClass]="{ 'is-invalid': submitted && f.branch.invalid }">
                  <option value="">Seçiniz</option>
                  <option [value]="1">9530-Merkez</option>
                  <option [value]="2">1050-Dijital</option>
                </select>
                <div *ngIf="submitted && f.branch.errors" class="invalid-feedback">
                  <div *ngIf="f.branch.errors.required">Şube seçilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="customerType">Müşteri Tipi</label>
                <select name="customerType" id="customerType" class="form-select" formControlName="customerType"
                        [ngClass]="{ 'is-invalid': submitted && f.customerType.invalid }">
                  <option value="">Seçiniz</option>
                  <option [value]="1">?</option>
                </select>
                <div *ngIf="submitted && f.customerType.errors" class="invalid-feedback">
                  <div *ngIf="f.customerType.errors.required">Müşteri Tipi seçilmelidir.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="campaignStartPeriod">Kampanya Başlama Dönemi</label>
                <select name="campaignStartPeriod" id="campaignStartPeriod" class="form-select"
                        formControlName="campaignStartPeriod"
                        [ngClass]="{ 'is-invalid': submitted && f.campaignStartPeriod.invalid }">
                  <option value="">Seçiniz</option>
                  <option [value]="1">Katılım Anında</option>
                  <option [value]="2">Dönem Başlangıcı</option>
                </select>
                <div *ngIf="submitted && f.campaignStartPeriod.errors" class="invalid-feedback">
                  <div *ngIf="f.campaignStartPeriod.errors.required">Kampanya Başlama Dönemi seçilmelidir.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4" *ngIf="!disabled">
        <button class="btn btn-orange px-5" type="submit">Devam</button>
      </div>
    </form>
  </div>
</app-main-content>
