<app-main-content>
  <app-step [data]="stepData"></app-step>
  <div class="container">
    <div class="box p-4">
      <div class="col-12 col-md-6 m-md-auto">
        <div class="form-group">
          <label for="name">Hedef Tanım İsmi</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group mt-3">
          <label for="id">Hedef ID</label>
          <input type="text" class="form-control" name="id" id="id">
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-orange px-5" [routerLink]="['./source']">Devam</button>
    </div>
  </div>
</app-main-content>
