<app-main-content>
  <app-step [data]="stepData"></app-step>
  <div class="container">
    <form [formGroup]="formGroup">
      <div class="box p-4">
        <div class="col-12 col-md-6 m-md-auto">
          <div class="form-group">
            <label for="source">Hedef Kaynağı</label>
            <select name="source" id="source" class="form-select" formControlName="source"
                    [ngClass]="{ 'is-invalid': submitted && f.source.invalid }" (change)="sourceChanged()">
              <option value="">Seçiniz</option>
              <option [value]="1">Akış</option>
              <option [value]="2">Sorgu</option>
            </select>
            <div *ngIf="submitted && f.source.errors" class="invalid-feedback">
              <div *ngIf="f.source.errors.required">Hedef Kaynağı seçilmelidir.</div>
            </div>
          </div>
          <div class="stream-panel mt-3" *ngIf="formGroup.get('source')?.value==1">
            <div class="form-group">
              <label for="streamName">Akış İsmi</label>
              <input type="text" class="form-control" name="streamName" id="streamName" formControlName="streamName"
                     [ngClass]="{ 'is-invalid': submitted && f.streamName.invalid }">
              <div *ngIf="submitted && f.streamName.errors" class="invalid-feedback">
                <div *ngIf="f.streamName.errors.required">Akış İsmi girilmelidir.</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div class="form-group">
                  <label for="totalPrice">Toplam Tutar</label>
                  <input type="text" class="form-control" name="totalPrice" id="totalPrice" formControlName="totalPrice"
                         turkishLira
                         [ngClass]="{ 'is-invalid': submitted && f.totalPrice.invalid }">
                  <div *ngIf="submitted && f.totalPrice.errors" class="invalid-feedback">
                    <div *ngIf="f.totalPrice.errors.required">Toplam Tutar girilmelidir.</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="processCount">İşlem Adedi</label>
                  <input type="text" class="form-control" name="processCount" id="processCount"
                         formControlName="processCount"
                         [ngClass]="{ 'is-invalid': submitted && f.processCount.invalid }">
                  <div *ngIf="submitted && f.processCount.errors" class="invalid-feedback">
                    <div *ngIf="f.processCount.errors.required">İşlem Adedi girilmelidir.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="triggerTime">Tetiklenme Zamanı</label>
              <select name="triggerTime" id="triggerTime" class="form-select" formControlName="triggerTime"
                      [ngClass]="{ 'is-invalid': submitted && f.triggerTime.invalid }">
                <option value="">Seçiniz</option>
                <option [value]="1">Hedefe Ulaşıldığı Anda</option>
              </select>
              <div *ngIf="submitted && f.triggerTime.errors" class="invalid-feedback">
                <div *ngIf="f.triggerTime.errors.required">Tetiklenme Zamanı seçilmelidir.</div>
              </div>
            </div>
          </div>
          <div class="query-panel mt-3" *ngIf="formGroup.get('source')?.value==2">
            <div class="form-group">
              <label for="condition">Koşul</label>
              <input type="text" class="form-control" name="condition" id="condition" formControlName="condition"
                     [ngClass]="{ 'is-invalid': submitted && f.condition.invalid }">
              <div *ngIf="submitted && f.condition.errors" class="invalid-feedback">
                <div *ngIf="f.condition.errors.required">Koşul girilmelidir.</div>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="query">Sorgu</label>
              <textarea name="query" id="query" class="form-control" rows="5" formControlName="query"
                        [ngClass]="{ 'is-invalid': submitted && f.query.invalid }"></textarea>
              <div *ngIf="submitted && f.query.errors" class="invalid-feedback">
                <div *ngIf="f.query.errors.required">Sorgu girilmelidir.</div>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="verificationTime">Kampanya Doğrulama Zamanı</label>
              <select name="verificationTime" id="verificationTime" class="form-select" formControlName="verificationTime"
                      [ngClass]="{ 'is-invalid': submitted && f.verificationTime.invalid }">
                <option value="">Seçiniz</option>
                <option [value]="1">İlk Kontrol Edildiğinde</option>
              </select>
              <div *ngIf="submitted && f.verificationTime.errors" class="invalid-feedback">
                <div *ngIf="f.verificationTime.errors.required">Kampanya Doğrulama Zamanı seçilmelidir.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-orange px-5" type="button" (click)="continue()">Devam</button>
      </div>
    </form>
  </div>
</app-main-content>
